* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 1rem;
  font-family: 'Segoe UI', Arial, Helvetica, san-serif;
  height: 100%;
  background: #333;
}

body {
  display: flex;
  flex-direction: column;
  color: #eee;
  padding: 10px;
}

button {
  border: 1px solid #333;
  padding: .5rem;
  text-transform: uppercase;
  border: 1px solid #000;
  border: none;
  background: #2196f3;
  color: #fff;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  font-size: .8rem;
  align-self: center;
  margin: 10px;
}

input {
  height: 30px;
  min-height: 30px;
  border: 1px solid #333;
  padding: .25rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  flex: 1;
}

textarea {
  border: 1px solid;
  padding: 10px;
  background: #fff;
  color: #000;
  outline: none;
}

@media screen and (max-width: 1200px) {
  .container {
      grid-template-rows: 1fr auto 1fr;
      grid-template-columns: none;
  }
}